body {
  font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif;
  line-height: 120%;
  font-size: 80%;
}
#nav-main {
  top: 0;
  left: 0;
  width: 100px;
  position: fixed;
}
#content-main {
  margin-left: 100px;
}
.date {
  font-weight: bold;
  font-style: italic;
}
.date-end:before {
  content: " - ";
}
.multipart-series li {
  padding: 10px;
  display: inline;
}
.employment-list>li {
  margin-bottom: 1em;
}
.employment-employer {
  display: inline;
  font-weight: bold;
}
.employment-location {
  display: inline;
  font-weight: normal;
}
.employment .date-range {
  margin-bottom: 1em;
}
.employment-location:before {
  content: " - ";
}
