.date {
  font-weight: bold;
  font-style: italic;
}
.date-end:before {
  content: " - ";
}
.multipart-series li {
  padding: 10px;
  display: inline;
}
#nav-main {
  top: 0;
  left: 0;
  width: 100px;
  position: fixed;
}
#content-main {
  margin-left: 100px;
}
